body{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#MyBtn{
    font-size: 30px;
}
p{
    background-color: whitesmoke;
    
}